In [5]:
import pandas as pd

state_data = pd.read_csv('datasets/merged_state_data.csv')
weather_data = pd.read_csv('datasets/weather_monthly_state_aggregates.csv')
wildfire_data = pd.read_csv('datasets/wildfire_sizes_before_2010.csv')

print(len(state_data))
print(len(weather_data))
print(len(wildfire_data))

50
11775
9632

In [17]:
state_data = state_data.rename(columns={'State': 'STATE', 'mean_elevation': 'MEAN_ELEVATION', 'Land Area (sq mi)': 'LAND_AREA', 'Water Area (sq mi)': 'WATER_AREA', 'Total Area (sq mi)': 'TOTAL_AREA', 'Percentage of Federal Land': 'PERCENTAGE_FEDERAL_LAND', 'Urbanization Rate (%)': 'URBANIZATION_RATE'})
state_data.head()

,STATE,MEAN_ELEVATION,LAND_AREA,WATER_AREA,TOTAL_AREA,PERCENTAGE_FEDERAL_LAND,URBANIZATION_RATE
0,AK,580,570641,94743,665384,60.9%,64.9
1,AL,150,50645,1775,52420,2.7%,57.7
2,AR,200,52035,1143,53179,9.4%,55.5
3,AZ,1250,113594,396,113990,38.6%,89.3
4,CA,880,155779,7916,163695,45.4%,94.2

In [18]:
weather_data = weather_data.rename(columns={'State': 'STATE', 'year_month': 'PERIOD'})
weather_data.head()

  STATE   PERIOD   PRCP   EVAP  TMIN   TMAX
0    AK  1992-05   5.36  44.17 -56.0  233.0
1    AK  1992-06  14.03  39.27 -17.0  322.0
2    AK  1992-07  16.78  30.91  28.0  300.0
3    AK  1992-08  10.46  20.14 -33.0  267.0
4    AK  1992-09  17.25  15.27 -61.0  183.0

In [19]:
wildfire_data = wildfire_data.rename(columns={'month': 'PERIOD', 'total_fire_size': 'TOTAL_FIRE_SIZE'})
wildfire_data.head()

  STATE   PERIOD  TOTAL_FIRE_SIZE
0    AK  1992-04             10.1
1    AK  1992-05           4309.5
2    AK  1992-06          86460.6
3    AK  1992-07          48578.5
4    AK  1992-08           3321.8

In [20]:

weather_wildfire_data = pd.merge(wildfire_data, weather_data, on=['STATE', 'PERIOD'], how='left')
print(len(weather_wildfire_data))
weather_wildfire_data.head()

9632

  STATE   PERIOD  TOTAL_FIRE_SIZE   PRCP   EVAP  TMIN   TMAX
0    AK  1992-04             10.1    NaN    NaN   NaN    NaN
1    AK  1992-05           4309.5   5.36  44.17 -56.0  233.0
2    AK  1992-06          86460.6  14.03  39.27 -17.0  322.0
3    AK  1992-07          48578.5  16.78  30.91  28.0  300.0
4    AK  1992-08           3321.8  10.46  20.14 -33.0  267.0

In [28]:
state_weather_wildfire_data = pd.merge(weather_wildfire_data, state_data, on=['STATE'], how='left')
print(len(state_weather_wildfire_data))
state_weather_wildfire_data.head()

9632

,STATE,PERIOD,TOTAL_FIRE_SIZE,PRCP,EVAP,TMIN,TMAX,MEAN_ELEVATION,LAND_AREA,WATER_AREA,TOTAL_AREA,PERCENTAGE_FEDERAL_LAND,URBANIZATION_RATE
0,AK,1992-04,10.1,NaN,NaN,NaN,NaN,580,570641,94743,665384,60.9%,64.9
1,AK,1992-05,4309.5,5.36,44.17,-56.0,233.0,580,570641,94743,665384,60.9%,64.9
2,AK,1992-06,86460.6,14.03,39.27,-17.0,322.0,580,570641,94743,665384,60.9%,64.9
3,AK,1992-07,48578.5,16.78,30.91,28.0,300.0,580,570641,94743,665384,60.9%,64.9
4,AK,1992-08,3321.8,10.46,20.14,-33.0,267.0,580,570641,94743,665384,60.9%,64.9

In [29]:
state_weather_wildfire_data.to_csv('datasets/combined_dataset.csv', index=False)